.graph {
  height: 35vh;
  width: 100%;
  padding: 5%;
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(144, 170, 184, 0.8);
  position: relative;
}
.value,
.date {
  display: none;
}
.column:hover span {
  display: unset;
  background-color: rgba(212, 217, 190, 0.8);
  color: rgba(48, 51, 32, 1);
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  z-index: 2;
}
.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 3%;
  position: relative;
  margin-left: -1vw;
  z-index: 1;
}
.column-value {
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.value {
  white-space: nowrap;
}
.column-label {
  overflow: visible;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.column-label img {
  width: 100%;
  bottom: 0px;
  left: 0;
  /* min-width: 3px; */
}
.legend-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.relative-legend-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.relative {
  position: relative;
}
.underline {
  border-bottom: 2px dotted rgb(41, 58, 10);
  width: 100%;
  z-index: 0;
}
.median {
  position: absolute;
  font-weight: bold;
  display: flex;
  align-items: baseline;
}
min {
  color: rgb(199, 23, 23);
}

max {
  color: rgba(104, 145, 26, 1);
}
.legend {
  bottom: 0;
  left: 0;
  position: absolute;
  font-weight: bold;
}
.graph-container h2 {
  margin: 0;
  padding: 0;
  height: 0;
}
