#navbar img {
  width: 10vw;
  padding: 5px;
}
.tile {
  background-image: url(./images/tile.jpg);
  background-repeat: repeat;
  background-size: contain;
}
.main {
  background-image: url(./images/pasture_top.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
